@import "variables"
@import "startpoint/core"
@import "startpoint/extra"

body
  padding: 0 0 4rem 0

.container
  margin-left: auto
  margin-right: auto
  padding-top: 2rem
  padding-bottom: 2rem
  max-width: 960px
  width: calc(100% - 4rem)

ul.sp-bullets
  padding-left: 2rem
  list-style: disc
