@import "default"


//
// Rem
// --------------------------------------------------

\:root
  font-size: $rem

@if $rem--s != $rem
  @media (min-width: $breakpoint-s) and (max-width: $breakpoint-m - 1)
    \:root
      font-size: $rem--s

@if $rem--m != $rem
  @media (min-width: $breakpoint-m) and (max-width: $breakpoint-l - 1)
    \:root
      font-size: $rem--m

@if $rem--l != $rem
  @media (min-width: $breakpoint-l) and (max-width: $breakpoint-xl - 1)
    \:root
      font-size: $rem--l

@if $rem--xl != $rem
  @media (min-width: $breakpoint-xl)
    \:root
      font-size: $rem--xl


//
// All elements
// --------------------------------------------------

*, *:before, *:after
  box-sizing: inherit
  letter-spacing: $font-letter-spacing
  margin: 0


//
// HTML
// --------------------------------------------------

html
  box-sizing: border-box
  min-height: 100vh
  width: 100vw

body
  background-color: $color-background
  color: $font-color
  font-family: $font-family
  font-weight: $font-weight
  line-height: $font-line-height
  min-height: 100vh
  width: 100vw
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

//
// List
// --------------------------------------------------

ul
  padding: 0
  list-style: none


//
// Pre
// --------------------------------------------------

pre
  white-space: pre-wrap


//
// iFrame
// --------------------------------------------------

iframe
  border: 0


//
// Blockquote
// --------------------------------------------------

blockquote
  padding-left: 1rem
  border-left: 3px solid mix($color-content, $color-background, 10%)
  color: mix($color-background, $color-content, 10%)


//
// Heading
// --------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6
  color: $heading-font-color
  font-family: $heading-font-family
  font-weight: $heading-font-weight
  letter-spacing: $heading-letter-spacing
  line-height: $heading-line-height
  margin: 0

h1
  font-size: 1rem * $heading-size-scale * $heading-size-scale * $heading-size-scale * $heading-size-scale
h2
  font-size: 1rem * $heading-size-scale * $heading-size-scale * $heading-size-scale
h3
  font-size: 1rem * $heading-size-scale * $heading-size-scale
h4
  font-size: 1rem * $heading-size-scale
h5
  font-size: 1rem
h6
  font-size: 1rem / $heading-size-scale

@if $heading-size-scale--s != $heading-size-scale
  @media (min-width: $breakpoint-s) and (max-width: $breakpoint-m - 1)
    h1
      font-size: 1rem * $heading-size-scale--s * $heading-size-scale--s * $heading-size-scale--s * $heading-size-scale--s
    h2
      font-size: 1rem * $heading-size-scale--s * $heading-size-scale--s * $heading-size-scale--s
    h3
      font-size: 1rem * $heading-size-scale--s * $heading-size-scale--s
    h4
      font-size: 1rem * $heading-size-scale--s
    h6
      font-size: 1rem / $heading-size-scale--s

@if $heading-size-scale--m != $heading-size-scale
  @media (min-width: $breakpoint-m) and (max-width: $breakpoint-l - 1)
    h1
      font-size: 1rem * $heading-size-scale--m * $heading-size-scale--m * $heading-size-scale--m * $heading-size-scale--m
    h2
      font-size: 1rem * $heading-size-scale--m * $heading-size-scale--m * $heading-size-scale--m
    h3
      font-size: 1rem * $heading-size-scale--m * $heading-size-scale--m
    h4
      font-size: 1rem * $heading-size-scale--m
    h6
      font-size: 1rem / $heading-size-scale--m

@if $heading-size-scale--l != $heading-size-scale
  @media (min-width: $breakpoint-l) and (max-width: $breakpoint-xl - 1)
    h1
      font-size: 1rem * $heading-size-scale--l * $heading-size-scale--l * $heading-size-scale--l * $heading-size-scale--l
    h2
      font-size: 1rem * $heading-size-scale--l * $heading-size-scale--l * $heading-size-scale--l
    h3
      font-size: 1rem * $heading-size-scale--l * $heading-size-scale--l
    h4
      font-size: 1rem * $heading-size-scale--l
    h6
      font-size: 1rem / $heading-size-scale--l

@if $heading-size-scale--xl != $heading-size-scale
  @media (min-width: $breakpoint-xl)
    h1
      font-size: 1rem * $heading-size-scale--xl * $heading-size-scale--xl * $heading-size-scale--xl * $heading-size-scale--xl
    h2
      font-size: 1rem * $heading-size-scale--xl * $heading-size-scale--xl * $heading-size-scale--xl
    h3
      font-size: 1rem * $heading-size-scale--xl * $heading-size-scale--xl
    h4
      font-size: 1rem * $heading-size-scale--xl
    h6
      font-size: 1rem / $heading-size-scale--xl


//
// Link
// --------------------------------------------------

a
  color: $link-font-color--basic
  text-decoration: $link-text-decoration--basic

  &:hover
    color: $link-font-color--hover
    text-decoration: $link-text-decoration--hover

  &:active
    color: $link-font-color--activ
    text-decoration: $link-text-decoration--activ


//
// Button
// --------------------------------------------------

button
  background: $button-background--basic
  border: $button-border--basic
  border-radius: $button-border-radius
  box-shadow: $button-shadow-box--basic
  color: $button-font-color--basic
  cursor: pointer
  font-family: $button-font-family
  font-size: $button-font-size
  font-weight: $button-font-weight
  letter-spacing: inherit
  outline: 0
  padding: $button-padding
  transition: $button-transition--basic
  transform: $button-transform--basic
  -webkit-font-smoothing: inherit

  &:hover
    background: $button-background--hover
    border: $button-border--hover
    box-shadow: $button-shadow-box--hover
    color: $button-font-color--hover
    transition: $button-transition--hover
    transform: $button-transform--hover

  &:active
    background: $button-background--activ
    border: $button-border--activ
    box-shadow: $button-shadow-box--activ
    color: $button-font-color--activ
    transition: $button-transition--activ
    transform: $button-transform--activ


//
// Image
// --------------------------------------------------

img
  max-width: 100%
  height: auto
  border: 0
  display: block


//
// Form
// --------------------------------------------------

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select
  background: $input-background--basic
  border: $input-border--basic
  border-radius: $input-border-radius
  box-shadow: $input-shadow-box--basic
  color: $input-font-color--basic
  display: block
  font-family: $input-font-family
  font-size: $input-font-size
  font-weight: $input-font-weight
  outline: 0
  padding: $input-padding
  transform: $input-transform--basic
  transition: $input-transition--basic
  width: 100%

  &:hover
    background: $input-background--hover
    border: $input-border--hover
    box-shadow: $input-shadow-box--hover
    color: $input-font-color--hover
    transition: $input-transition--hover
    transform: $input-transform--hover

  &:focus
    background: $input-background--focus
    border: $input-border--focus
    box-shadow: $input-shadow-box--focus
    color: $input-font-color--focus
    transition: $input-transition--focus
    transform: $input-transform--focus

  &::placeholder
    color: $input-placeholder-color

select
  -webkit-appearance: none
  -moz-appearance: none

select,
select:hover,
select:focus
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='12' height='14' %3E %3Cpolygon points='0,6 6,0 12,6' fill='#{svg-safe-hex($input-select-arrow-color)}'/%3E %3Cpolygon points='0,8 12,8 6,14' fill='#{svg-safe-hex($input-select-arrow-color)}'/%3E %3C/svg%3E")
  background-repeat: no-repeat
  background-position: right 12px center
  padding-right: 36px

label
  display: block

a label
  cursor: pointer
