//
// Hide
// --------------------------------------------------
// Force display to none
// default: data-hide="all"

@if $helper-hide == true
  [data-hide=""],
  [data-hide="all"],
    display: none !important

  @media (max-width: $breakpoint--s - 1)
    [data-hide~="xs"]
      display: none !important

  @media (min-width: $breakpoint--s) and (max-width: $breakpoint--m - 1)
    [data-hide~="s"]
      display: none !important

  @media (min-width: $breakpoint--m) and (max-width: $breakpoint--l - 1)
    [data-hide~="m"]
      display: none !important

  @media (min-width: $breakpoint--l) and (max-width: $breakpoint--xl - 1)
    [data-hide~="l"]
      display: none !important

  @media (min-width: $breakpoint--xl)
    [data-hide~="xl"]
      display: none !important


//
// Auto Margin
// --------------------------------------------------
// Add top margin to other than first child
// default: data-margin="x1"

@if $helper-margin == true
  [data-margin=""]
    > * + *
      margin-top: $space-margin

  [data-margin="auto"]
    > * + *
      margin-top: $space-margin-auto

  @each $factor in $list-space-factors
    [data-margin="x#{$factor}"]
      > * + *
        margin-top: $space-margin * $factor


//
// Invert
// --------------------------------------------------
// Turn the colors into opposite colors
// default: data-invert="true"

@if $helper-invert == true
  [data-invert=""],
  [data-invert="true"]
    background-color: $color-bg--invert
    color: $font-color--invert

    a
      color: $link-font-color--basic-invert

      &:hover
        color: $link-font-color--hover-invert

      &:active
        color: $link-font-color--activ-invert
      
    h1,
    h2,
    h3,
    h4,
    h5,
    h6
      color: $heading-font-color--invert

    button
      background: $button-bg--basic-invert
      border-color: $button-border-color--basic-invert
      box-shadow: $button-shadow-box--basic-invert
      color: $button-font-color--basic-invert

      &:hover
        background: $button-bg--hover-invert
        border-color: $button-border-color--hover-invert
        box-shadow: $button-shadow-box--hover-invert
        color: $button-font-color--hover-invert

      &:active
        background: $button-bg--activ-invert
        border-color: $button-border-color--activ-invert
        box-shadow: $button-shadow-box--activ-invert
        color: $button-font-color--activ-invert


//
// Container
// --------------------------------------------------
// default: data-container="xl"

@if $helper-container == true
  [data-container]:not([data-grid])
    margin-left: auto
    margin-right: auto
    width: 100%
    max-width: $breakpoint--xl
    padding-top: $space-container--y
    padding-bottom: $space-container--y
    padding-left: $space-container--x
    padding-right: $space-container--x

    &[data-container~="fluid"]
      max-width: none

    &[data-container~="s"]
      max-width: $breakpoint--s

    &[data-container~="m"]
      max-width: $breakpoint--m

    &[data-container~="l"]
      max-width: $breakpoint--l

    @each $factor in $list-space-factors
      &[data-container~="x#{$factor}"]
        padding-top: $space-container--y * $factor
        padding-bottom: $space-container--y * $factor


//
// Grid
// --------------------------------------------------
// default: data-grid="auto"

@if $helper-grid == true
  [data-grid]
    display: flex
    flex-wrap: nowrap
    margin-left: $space-grid * -1
    margin-bottom: $space-grid * -1

    > *
      word-wrap: break-word
      padding-left: $space-grid * 1
      padding-bottom: $space-grid * 1

    > :not([data-grid])
      flex: 1

  @each $col in $list-grid-cols
    [data-grid~="#{$col}"],
    [data-grid~="#{$col}s"],
    [data-grid~="#{$col}m"],
    [data-grid~="#{$col}l"],
    [data-grid~="#{$col}xl"]
      flex-wrap: wrap
      
      > *
        width: 100%

      > :not([data-grid])
        flex: 0 0 auto

  [data-grid~="compact"] 
    > :not([data-grid])
      flex: 0 1 auto

  @each $col in $list-grid-cols
    [data-grid~="#{$col}"] > *
      width: 100% / $col

  @media (min-width: $breakpoint--s)
    @each $col in $list-grid-cols
      [data-grid~="#{$col}s"] > *
        width: 100% / $col

  @media (min-width: $breakpoint--m)
    @each $col in $list-grid-cols
      [data-grid~="#{$col}m"] > *
        width: 100% / $col

  @media (min-width: $breakpoint--l)
    @each $col in $list-grid-cols
      [data-grid~="#{$col}l"] > *
        width: 100% / $col

  @media (min-width: $breakpoint--xl)
    @each $col in $list-grid-cols
      [data-grid~="#{$col}xl"] > *
        width: 100% / $col

  @each $factor in $list-space-factors
    [data-grid~="x#{$factor}"]
      margin-left: $space-grid * $factor * -1
      margin-bottom: $space-grid * $factor * -1

      > *
        padding-left: $space-grid * $factor
        padding-bottom: $space-grid * $factor