@import "default"
@import "functions"


//
// Hide
// --------------------------------------------------
// Force display to none

[data-hide=""]
  display: none !important

@media (max-width: $breakpoint-s - 1)
  [data-hide~="xs"],
  [data-hide~="s-"],
  [data-hide~="m-"],
  [data-hide~="l-"],
  [data-hide~="xl-"]
    display: none !important

@media (min-width: $breakpoint-s) and (max-width: $breakpoint-m - 1)
  [data-hide~="s"],
  [data-hide~="m-"],
  [data-hide~="l-"],
  [data-hide~="xl-"],
  [data-hide~="xs+"]
    display: none !important

@media (min-width: $breakpoint-m) and (max-width: $breakpoint-l - 1)
  [data-hide~="m"],
  [data-hide~="l-"],
  [data-hide~="xl-"],
  [data-hide~="xs+"],
  [data-hide~="s+"]
    display: none !important

@media (min-width: $breakpoint-l) and (max-width: $breakpoint-xl - 1)
  [data-hide~="l"],
  [data-hide~="xl-"],
  [data-hide~="xs+"],
  [data-hide~="s+"],
  [data-hide~="m+"]
    display: none !important

@media (min-width: $breakpoint-xl)
  [data-hide~="xl"],
  [data-hide~="xs+"],
  [data-hide~="s+"],
  [data-hide~="m+"],
  [data-hide~="l+"]
    display: none !important


//
// Width
// --------------------------------------------------

[data-width="s"]
  max-width: $breakpoint-s

[data-width="m"]
  max-width: $breakpoint-m

[data-width="l"]
  max-width: $breakpoint-l

[data-width="xl"]
  max-width: $breakpoint-xl


//
// Auto Margin
// --------------------------------------------------
// Add top margin to other than first child

[data-margin]

  > * + *
    margin-top: 1.5em


//
// Invert
// --------------------------------------------------
// Turn the colors into opposite colors

[data-invert]
  background-color: $color-background--invert
  color: $color-content--invert

  a
    color: $link-font-color--basic-invert

    &:hover
      color: $link-font-color--hover-invert

    &:active
      color: $link-font-color--activ-invert

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    color: $heading-font-color--invert

  label
    color: $label-font-color--invert

  button
    background: $button-background--basic-invert
    border-color: $button-border-color--basic-invert
    box-shadow: $button-shadow-box--basic-invert
    color: $button-font-color--basic-invert

    &:hover
      background: $button-background--hover-invert
      border-color: $button-border-color--hover-invert
      box-shadow: $button-shadow-box--hover-invert
      color: $button-font-color--hover-invert

    &:active
      background: $button-background--activ-invert
      border-color: $button-border-color--activ-invert
      box-shadow: $button-shadow-box--activ-invert
      color: $button-shadow-box--activ-invert
