<div class="modal">

  <input class="modal-close" id="modal-example" type="checkbox">

  <label class="modal-background" for="modal-example"></label>

  <div class="modal-box" data-width="m">

    <header>
      <h4>Foobar and Lorem</h4>
    </header>

    <section class="modal-content" data-margin>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores minus quasi id minima fugiat, dolor saepe rerum ratione assumenda tempore. Perspiciatis deserunt aliquam reiciendis ratione at, sequi fuga expedita voluptatum!</p>
    </section>

    <footer>
      <a href="#close-modal"><label for="modal-example">Cancel</label></a>
      <button>Save</button>
    </footer>

  </div>

</div>
