@import "../default"


//
// Variables
// --------------------------------------------------

$navbar-color-background: $color-background !default
$navbar-color-content: $color-content !default
$navbar-height: 3rem !default

$navbar-color-background--invert: $color-background--invert !default
$navbar-color-content--invert: $color-content--invert !default


//
// Navbar
// --------------------------------------------------

nav.navbar
  z-index: 100000
  min-height: $navbar-height
  display: flex
  align-items: center
  padding-left: 1rem
  padding-right: 1rem
  background-color: $navbar-color-background
  white-space: nowrap

  *
    margin-left: 1rem
    flex: 0 1 1
    display: flex
    align-items: center

    &:first-child
      margin-left: 0

  hr
    width: 100%
    flex: 1 0 0
    border-width: 0

  .nav-switch-icon
    width: 30px
    height: 30px
    position: relative

    &::before,
    &::after
      content: ''
      left: 5px
      right: 5px
      position: absolute
      height: 1px
      background-color: $navbar-color-content

    &::before
      top: 11px
      transition: top .2s, bottom .2s, transform .5s

    &::after
      bottom: 11px
      transition: top .2s, bottom .2s, transform .3s


  //
  // Invert
  // --------------------------------------------------

  &[data-invert]
    background: $navbar-color-background--invert

    .nav-switch-icon

      &::before,
      &::after
        background-color: $navbar-color-content--invert


//
// Overlay navigation
// --------------------------------------------------

input[type="checkbox"]:checked + nav.navbar,
nav.navbar[data-nav-switch="true"]
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  flex-direction: column
  align-content: stretch

  *
    flex-direction: column
    margin: 0
    padding-top: 1rem

  .nav-switch-icon
    position: fixed
    top: .5rem
    right: 1rem

    &::before
      top: 15px
      transform: rotate(225deg)

    &::after
      bottom: 15px
      transform: rotate(135deg)

  hr
    flex: 0 0 0

  [data-hide]
    display: flex !important
